.restaurant-title-container {
    width: 100%;
    margin: 0 auto;
    .rastaurant-subtitle-container {
        width: 80%;
        border: 10px solid #f0f0f0;
        border-top: 0px;
        border-radius: 10px;
    }
}