.restaurantCategory-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
    cursor: pointer;
    .accordian-title {
        display:flex;
        justify-content: space-between;
    }
}